@import './base.css';

#app {
  padding: 0;
  font-weight: normal;
}

main {
  padding-top: 20px;
}

nav {
  transition: 0.4s;
}

nav a,
.green {
  text-decoration: none;
  color: hsl(343, 100%, 39%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  nav a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}

@keyframes borderColor {
  0% {
    border-bottom: 2px solid transparent;
  }
  100% {
    border-bottom: 2px solid var(--color-primary);
  }
}
main span,
main.portfolio p,
.about-header,
main a {
  transition: 0.5s;
  animation: loading 0.8s ease-in-out 1;
}

@keyframes loading {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-info,
main img {
  animation: loadingSoft 0.8s ease-in-out 1;
}

@keyframes loadingSoft {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
