@import './base.css';

#app {
  padding: 0;
  font-weight: normal;
}

main {
  padding-top: 20px;
}

@keyframes borderColor {
  0% {
    border-bottom: 2px solid transparent;
  }
  100% {
    border-bottom: 2px solid var(--color-primary);
  }
}

main span,
.about-header,
main a {
  transition: 0.5s;
  animation: loading 0.8s ease-in-out 1;
}

@keyframes loading {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-info,
main img {
  animation: loadingSoft 0.8s ease-in-out 1;
}

@keyframes loadingSoft {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main#portfolio p {
  animation: showUp 0.8s ease-in-out 1;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.txt-rotate.color .wrap {
  animation: none;
  transition: 0s;
}
